NUXT_PUBLIC_API_BASE_URL = https://infonet.icjia-api.cloud
NUXT_PUBLIC_BASE_URL = https://infonet.icjia.dev
NUXT_MANUAL_ROUTES = ["/search", "/translate", "/faqs", "/news","/data-and-publications"]
PLAUSIBLE_DOMAIN = infonet.illinois.gov
PLAUSIBLE_API_HOST=https://analytics.icjia-api.cloud/js/plausible.js
NUXT_BASE_URL =  "/",
NUXT_ACTIVE_SECTIONS = ['root', 'page', 'meetings', 'faqs']
NUXT_PUBLIC_FB_APP_ID=